$background-color: #f5f6fa;
$background-color-header: #b94364;
$color-button: #23d5cd;
$border-radius: 16px;
$border-radius-button: 9px;
$color-button-hover: #37d1c9;
$default: 16px;
$hg: 57.5px;
$lw: 9.5px;


